@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Merriweather+Sans:wght@369&family=Poppins:ital,wght@0,300;0,500;0,900;1,300;1,400&family=Stint+Ultra+Condensed&family=Viaoda+Libre&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
   
}
html{
    font-size: 62.5%;
    transition: all .4s linear;
    /* scroll-behavior: smooth; */
}
.loader{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
}
.load{
   width: 15vh;
   height: 15vh;
   border: 10px solid;
   border-top-color: rgb(109, 255, 42);
   border-left-color: rgb(52, 235, 252);
   border-bottom-color: rgb(252, 120, 45);
   border-right-color: rgb(252, 52, 252);
   border-radius: 50%;
   animation: rotate 1s infinite;
}
@keyframes rotate{
    0%{
        
        transform: rotate(0deg);
    }
    10%{        
        transform: rotate(180deg);        
    }
    25%{
        transform: rotate(360deg);
    }
    35%{
        transform: rotate(180deg);
        
    }
    
    50%{
        transform: rotate(360deg);
    }
    75%{
        transform: rotate(180deg);
        
    }
    100%{
            transform: rotate(360deg);
    }
}
.navbar{
    display: none;
}


.logoimg{
    width: 10vw;
    height: 15vh;
    border-radius: 15px;
    display: block;
    margin: 1vh auto 0 auto;
    box-shadow: 0 0 5px black;
}
.logo{
    color: #044642;
    font-size: 5vh;
    font-weight: 300;
    text-align: center;
    font-family: 'Merriweather Sans', sans-serif;
    text-shadow: 2px 2px 1.5px #044642;
}
.cation{
    font-size: 3.5vh;
    font-family: 'Caveat', cursive;
    text-align: center;
    color: #fc6b70;
    margin-left: 20vw;
}
#toggle{
    display: none;
}
main h1{
    font-size: 5vh;
    text-align: center;
    font-weight: 500;
    font-family: 'Noto Sans', sans-serif;
    text-decoration: underline;
}
.links{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2vh 0vw;
    background: #e0d9d9;
    padding: 2.5vh 2vw;
}
.links li{
    padding: 0vh 2vw;
}
.links li a{
    color: #064420;
    font-weight: 100;
    font-size: 3.5vh;
    font-family: 'Acme', sans-serif;
    padding: 1vh 1vw;
    border-radius: 25px;
    transition: all 0.1s ease-in-out;
}
.links li a:hover,a:active{
    background-color: #005523;
    color: white;
    box-shadow: 0 0 10px #005523,
    0 0 20px #005523;
}
.slide_div{
    
    height: 80vh;
    width: 90vw;
    display: block;
    margin: 5vh auto;
}
.slider{
    height: 100%;
    width: 100%;
   background-image: url("https://images.livspace-cdn.com/w:1366/plain/https://d3ai42rl8fy79o.cloudfront.net/galactus/templates/2880-x-1236-Web-Page-Living-Room-Banner-(Web).jpg.1617971616711");
   background-size: cover;
   display: block;
   margin:5vh auto;
   /* border: 2px solid black; */
   border-radius: 20px;
   box-shadow: 10px 10px 10px #737373;
   animation: slide 25s infinite;
   transition: all 0.5s ease;
}
@keyframes slide{
    0%{
        background-image: url("https://images.livspace-cdn.com/w:1366/plain/https://d3ai42rl8fy79o.cloudfront.net/galactus/templates/2880-x-1236-Web-Page-Living-Room-Banner-(Web).jpg.1617971616711");
    }
    20%{
        background-image: url("https://static.wixstatic.com/media/43b61a4980ba4462acc7a42b80c7b1ab.jpg/v1/fill/w_1900,h_1053,al_c,q_90/43b61a4980ba4462acc7a42b80c7b1ab.webp");
    }
    40%{
background-image: url("https://images.livspace-cdn.com/w:1366/plain/https://d3ai42rl8fy79o.cloudfront.net/galactus/templates/2880-x-1236-Web-Page-Bedroom-Banner-(Web).jpg.1617971494807");
    }
    60%{
background-image: url("https://images.livspace-cdn.com/w:1366/plain/https://d3gq2merok8n5r.cloudfront.net/bumblebee/in/livspace-vesta-1615288282-wkMjI/banner-1615288298-M39ju/l1-type-b-page-top-banner-1-d-1615288397-XCe3h.jpg");
    }
    80%{
background-image: url("https://images.livspace-cdn.com/w:1366/plain/https://d3ai42rl8fy79o.cloudfront.net/galactus/templates/2880-x-1236-Web-Page-Kitchen-Banner-(Web).jpg.1618911157651");
    }
    100%{
        background-image: url("https://images.livspace-cdn.com/w:1366/plain/https://d3ai42rl8fy79o.cloudfront.net/galactus/templates/2880-x-1236-Web-Page-Living-Room-Banner-(Web).jpg.1617971616711");
    }
}
.why{
    font-size: 5vh;
    text-decoration: underline;
    text-align: center;
    margin: 5vh 0vw;
}
.options{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.dotes{
    display: block;
    width: 10%;
    border-bottom: 1vw dotted rgb(109, 109, 109);
    margin: 3vh auto;
}
.why_options{
    height: 20vh;
    flex: 0 0 23vw;
    border-radius: 15px;
    padding: 0vh 2vw;
}
.options_y{
    width: 100%;
    height: 100%;
}
.capion{
    text-align: center;
    font-family: 'ABeeZee', sans-serif;
    margin: 1.5vh auto;
    font-size: 5vh;   
}
.create{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.create .imgcreate{
    width: 50vw;
    height: 50vh;
    margin: 2vh 2vw 2vh 2vw;
    border-radius: 15px;
}
.para_div{
    width: 40vw;
}
.create .paracreate{
    width: 40vw;
    color: rgba(85, 85, 85, 0.867);
    font-size: 2.7vh;
}
.create span{
    font-size: 5vh;
    width: auto;
    font-family: 'ABeeZee', sans-serif;
    font-weight: 600;
   color: #cc0007;
    
}
.projects{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: auto;
    margin-bottom: 3vh;
}
.pro_title{
    text-align: center;
    font-size: 5.5vh;
    font-weight: 500;
    margin-bottom: 10vh;
    text-decoration: underline;
}

.box{
    width: 300px;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
    border-radius: 10px;
    margin: 20px 30px 40px 30px;
}
.slide-img{
    height: 450px;
}
.slide-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-sizing: border-box;
}
.detail-box{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    box-sizing: border-box;
    /* position: relative; */
    font-family: 'Acme', sans-serif;
}
.detail-box .more{
    font-size: 4vh;
    color: #044642;
    font-weight: 500;
    letter-spacing: 0.5px;
}
.detail-box a:hover{
    color: #000;
    background: #fff;
    padding: 2vh 2vw;
    box-shadow: 0 0 10px #fff;
    border: 2px solid black;
}
.lSAction > a {

    background-image: url(controls.png);
}

.slider_pro{
    height: 60vh;
    width: 65vw;
    overflow: hidden;
    position: relative;
}
.slider_pro .images{
    width: 95%;
    height: 100%;
}
.images img{
    width: 100%;
    height: 100%;
}
.slider_pro .btn-sliders{
    position: absolute;
    bottom: 20px;
    left: 50%;
    display: flex;
    transform: translateX(-50%);
}
.slider_pro .btn-sliders .slideview{
    height: 15px;
    width: 50px;
    border: 2px solid white;
    margin: 0 3px;
    cursor: pointer;
}
.slideview:hover{
    background-color: #fff;
}
.slider_pro .slidesy{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 45px;
    border: 2px solid white;
    background: rgba(255,255,255,0.8);
    cursor: pointer;
}
.slider_pro .slidesy:hover{
    background: rgba(255,255,255,0.2);
}
.slidesy .fas{
    font-size: 35px;
    color: rgba(0,0,0,10);
    line-height: 41px;
}
.slider_pro .left{
    text-align: center;
    left: 5%;

}
.imges{
    border-radius: 20px;
    margin: 0vh 2vw;
}
.slider_pro .right{
    text-align: center;
    right: 3%;
}
.projects .pro-para{
    height: 40vh;
    width: 30vw;
    text-align: center;
    background: rgb(214, 213, 213);
    border: 2px solid black;
    border-radius: 50%;
    padding: 7vh 5vw;
}
.projects .pro-para p{
    font-size: 4.5vh;
    padding-bottom: 3vh;
}
.making{
    width: 90vw;
    display: block;
    margin: auto;
    overflow: hidden;
}
.headmaking{
       font-size: 5vh;
       font-family: 'Noto Sans', sans-serif;
       font-weight: 800;
       text-align: center;
       text-decoration: underline;
}
.make{
    width: 80vw;
    margin: 4vh 0vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.make .logomake{

    height: auto;
    margin: 2vh 2vw;
    padding: 2vh 0vw;
    flex: 0 0 20vw;
    border-radius: 15px;
    box-shadow: 0 0 10px #737373;
    border: 1px solid rgb(230, 230, 230);
}
  .span{
      clear: both;
  }  
.make .logomake .text{
    font-size: 3.5vh;
    text-align: center;
}
.about_us{
    background: rgb(185, 185, 185);
    width: 100%;
    display: block;
    box-shadow: 0 0 20px rgb(8, 8, 8);
    margin: auto;
    position: relative;
}
.contact{
    width: 90%;
    display: block;
    margin: 4vh auto;
    border-radius: 20px;
    padding: 2vh 3vw;
    background: #000;
    font-size: 2vh;
    box-shadow: 0 0 10px rgb(112, 112, 112),
                0 0 20px rgb(122, 122, 122),
                0 0 30px rgb(132, 132, 132);
}
.media{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.media li{
    font-size: 4vh;
    flex: 0 0 4vw;
}
table thead tr th , table tbody tr td{
    width: 30%;
    text-align: center;
    color: white;
    padding: 2vh 0vw;
    text-decoration: none;
}
.con_head{
    color: #fff;
    font-size: 4vh;
    text-align: center;
}
.contact a{
 color: #fff;
 text-shadow: 0 0 10px rgb(255, 100, 100);
}
.contact a:hover, .contact a:active{
    color: rgb(255, 100, 100);
    text-shadow: 0 0 10px rgb(0, 00, 00);
}
table thead tr th{
    font-size: 3.5vh;
    font-weight: 500;
}
.about_us .us_img{
    width: 20vh;
    height: 20vh;
    margin: 1vh auto;
    padding: 2vh;
}
.about_us .us_img img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    float: left;
}
.about_us .about_para span{
    text-align: center;
    font-size: 6vh;
}
.about_us .about_para {
    width: 75%;
    font-size: 2.5vh;
    display: block;
    margin:auto;
    padding: 3vh 0vw;
    text-align: center;
}
.about_us .about_para .us_para{
    padding-top: 2vh;
}
.footer{
    text-align: center;
    padding: 3vh 0vw;
    background-color: rgba(228, 228, 228, 0.867);
    margin: 2vh 1vw;
    font-size: 3vh;
    border-radius: 20px;
    /* box-shadow: 5px 5px 20px black; */
}
.footer span{
    font-size: 3.5vh;
    font-weight: 700;
}
.example_main{
    width: 98vw;
}
.example_img{
    height: 80vh;
    width: 80vw;
    display: block;
    margin: 5vh auto;
}
.hr{
    color: bisque;
    width: 98vw;
    margin-bottom: 3vh;
    box-shadow: 0px 0px 5px rgb(80, 75, 75);
}
.example_para{
    width: 80%;
    margin: auto;
    font-size: 2.5vh;
    display: block;
    margin-bottom: 4vh;
}
.example_images{
    width: 98vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.examimg{
    width: 23vw;
    height: 30vh;
}
.exampleimgs{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: 2px solid black;
}
.exampleimg{
    height: 100%;
    width: 100%;
    box-shadow: 0 0 20px #6d6d6d;
    display: block;
    margin: auto;
border-radius: 20px;
}
@media screen and (max-width: 1400px){
    .projects .pro-para p{
        font-size: 4vh;
    }
}
@media screen and (max-width: 1300px){
    .create span {
        font-size: 3.6vh;
    }
    .create .paracreate {
        font-size: 2vh;
    }
    .projects .pro-para p{
        font-size: 3.2vh;
    }
}
@media screen and (max-width: 1008px){
    .cation{
        font-size: 2.5vh;
    }
    .logoimg{
        width: 20vw;}
        .projects .pro-para p{
            font-size:3vh;
        }
}
@media screen and (max-width: 745px){
    main h1{
        font-size: 3.5vh;}
    .example_images{
        display: block;
        margin: auto;
    }
    .examimg{
        display: block;
        margin: 2vh auto;
        width: 75vw;
        height: 50vh;
        
    }
    .navbar{
        display: block;
        background:#ddd;
        line-height: 4vh;
        padding: 1.5vh 0vw 0vh 2vw;
    }
    #toggle{
        display: block;
    }
    .slide_div{
        height: 50vh;
    }
    .btn-sliders .slideview{
        width: 30px;
       height: 10px;
    }
    .linklogo{
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    }
    .head{
        position: relative;
    }
    #check{
        display: none;
    }
    .fa-bars,.fa-times{
        position: absolute;
        top: 2%;
        right:2%;
        font-size: 3.5vh;
        padding: 2vh 2vh;
        border-radius: 15px;
    }
.navbar .links{
    display: block;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgb(235, 235, 235);
    top: 5vh;
    left: 100%;
    text-align: center;
    z-index: 1;
    overflow-y: scroll;
    transition: all.5s;
}
.navbar .active{
    left: 0%;
}

.navbar .links li{
      display: block;
      margin: auto;
}
.navbar .links li a{
    display: block;
    margin: 3vh auto;
    text-align: center;
}
    .logoimg{
        width: 30vw;}
        .slide{
            height: 100%;
            width: 100%;
            margin: 5vh auto;
        }
        .capion{
            font-size: 2.5vh;
        }
        .create{
            display: block;
        }
        .create .imgcreate{
            width: 95vw;
            margin: 5vh 0vw;
            display: block;
            margin: auto;
        }
        .para_div{
            width: 95vw;
            display: block;
            margin: 2vh auto;
        }
        .create .paracreate{
            width: 80vw;
            font-size: 2vh;
            text-align: center;
            display: block;
            margin: auto;
        }
        .create span{
            font-size: 3vh;
            display: block;
            margin: auto;
            text-align: center;
        }
        .make{
            width: 100vw;}
            .make .logomake .text{
                font-size: 2.5vh;
            }
            .content{
                display: none;
            }
            .projects{
                display: block;
                margin: auto;
            }
            .slider_pro{
                display: block;
                width: 90vw;
                height: auto;
                margin: auto;
            }
            .projects .pro-para{
                height: 30vh;
                width: 40vw;
                display: block;
                margin: 2vh auto;}
                .projects .pro-para p{
                    font-size: 2.5vh;
                }
                .footer span{
                    font-size: 3vh;}
                }
                @media screen and (max-width: 300px){
                    .projects .pro-para{
                        margin-top: 2vh;
                    }
                    .projects .pro-para p{
                        font-size: 1vh;
                    }
                    .slider_pro .slidesy{
                        width: 10vw;
                    } 
                    .contact{
                        font-size: 1.5vh;
                    }
                    table thead tr th{
                        font-size: 2vh;}
                        .media li{
                            font-size: 2vh;
                        }
                        /* table{
                            border: 1px solid white;
                        } */
                }